
<?xml version="1.0" encoding="UTF-8"?>
<theme>
   <formatVersion>7</formatVersion>
   
<view name="menu, system, basic, detailed, video, grid">  

      <image name="background" extra="true">
		 <tile>false</tile>
         <origin>0 0</origin>
         <pos>0 0</pos>
         <size>1 1</size>
         <zIndex>1</zIndex>
		 <path>./../../CUSTOMIZE_YOUR_THEME/by_system_backgrounds/${system.theme}.png</path>
		 <path>./../../CUSTOMIZE_YOUR_THEME/by_system_backgrounds/${system.theme}.jpg</path>		 
      </image>
	  
</view>
   
</theme>
